@import "variable";

html body .jumbotron {
  background-image: url(../img/neptun-in-gdansk-poland-82-big_bw.png);
  background-color: $color-blue;
  background-size: cover;
  background-position: top;
  position: relative;
  min-height: 100vh;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

.box-menu.form-inline.justify-content-center {
  border-bottom: 1px solid;
  color: $link;
  padding-top: 0;
  margin-top: 0;

  .navbar {
    height: 100%;
    padding: 0;

    .navbar-nav {
      height: 100%;

      .navigation-list {
        height: $menu-height;
        display: block;
        text-transform: uppercase;
        font-size: $menu-font-size;

        &.active {
          border-bottom: 2px solid;
        }

        &:hover,
        &:active,
        &:focus {
          color: $black;
        }

        .navigation-link {
          color: $link;
          display: block;
          height: $menu-height;
          width: 100%;
          line-height: $menu-height;
          padding: 0 20px;

          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
            background-color: transparent;
            color: $black;
          }
        }
      }

    }
  }


  button {
    height: 46px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: $menu-font-size;
    margin-right: 10px;
    color: $link;
    background-color: transparent;
    display: inline-block;
    box-sizing: border-box;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: $border;
    border-radius: 4px;
    background-color: transparent;
    padding: 10px;
    text-align: center;

    &:hover {
      text-decoration: none;
      background-color: transparent;
      color: $link;
    }

    &:active,
    &:focus {
      text-decoration: none;
      color: $black;
    }

    &.flag {
      div {
        width: 30px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url('/img/flagpl.png');
      }
    }
  }
}
h1 {
  font-family: 'Playfair';
  color: white;
  font-size: 65px;
}

h6 {
  font-size: 14px;
  color: $color-pink-light;
  font-weight: 10;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.reservation-container {
  border: 1px solid $border;
  padding: 10px;

  h5 {
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }

  .choose-box {
    padding: 20px;
    padding-top: 0;

    input,
    button {
      width: 33.3%;
      display: block;
      height: 90px;
      padding: 20px;
    }

    button {
      background-color: $color-pink-dark;
      color: white;
    }
  }

}
.heading {
  margin: 50px;
}
.heading-small {
  margin-top: 30vh;
}